# Exercice 6 methode brute force

### 1 .Definition du jeu de cartes

In [18]:
import pandas as pd
import itertools

In [19]:
valeurs_cartes = ["2", "3", "4", "5", "6", "7", "8", "9", "10", "Valet", "Dame", "Roi", "As"]
couleurs_cartes = ["S", "H", "D", "C"]

### 2. Construction du jeu de carte

In [20]:
jeu = []
for valeur in valeurs_cartes:
    for couleur in couleurs_cartes:
        jeu.append(f"{valeur}{couleur}")
print("cartes dans le paquet :", len(jeu))

cartes dans le paquet : 52

### a Quelle est la probabilité que les deux premières cartes distribuées au joueur totalisent 21 points (blackjack) ?

In [21]:
tableau_c = pd.DataFrame(itertools.permutations(jeu, 2))
tableau_c.columns = tableau_c.columns + 1
tableau_c

        1     2
0      2S    2H
1      2S    2D
2      2S    2C
3      2S    3S
4      2S    3H
...   ...   ...
2647  AsC  RoiD
2648  AsC  RoiC
2649  AsC   AsS
2650  AsC   AsH
2651  AsC   AsD

[2652 rows x 2 columns]

In [22]:
tableau_c["groupe1"] = tableau_c.loc[:, 1:2].apply(frozenset, axis=1)
tableau_c.drop(columns=range(1, 3), inplace=True)
tableau_c

          groupe1
0        (2S, 2H)
1        (2D, 2S)
2        (2S, 2C)
3        (3S, 2S)
4        (3H, 2S)
...           ...
2647  (AsC, RoiD)
2648  (AsC, RoiC)
2649   (AsS, AsC)
2650   (AsC, AsH)
2651   (AsC, AsD)

[2652 rows x 1 columns]

In [23]:
tableau_c.drop_duplicates(inplace=True)
tableau_c

         groupe1
0       (2S, 2H)
1       (2D, 2S)
2       (2S, 2C)
3       (3S, 2S)
4       (3H, 2S)
...          ...
2497  (AsS, AsD)
2498  (AsS, AsC)
2548  (AsD, AsH)
2549  (AsC, AsH)
2600  (AsC, AsD)

[1326 rows x 1 columns]

In [24]:
groupe = tableau_c.apply(frozenset, axis=1)
groupe

0         ((2S, 2H))
1         ((2D, 2S))
2         ((2S, 2C))
3         ((3S, 2S))
4         ((3H, 2S))
            ...
2497    ((AsS, AsD))
2498    ((AsS, AsC))
2548    ((AsD, AsH))
2549    ((AsC, AsH))
2600    ((AsC, AsD))
Length: 1326, dtype: object

In [25]:
groupe.drop_duplicates(inplace=True)
groupe

0         ((2S, 2H))
1         ((2D, 2S))
2         ((2S, 2C))
3         ((3S, 2S))
4         ((3H, 2S))
            ...
2497    ((AsS, AsD))
2498    ((AsS, AsC))
2548    ((AsD, AsH))
2549    ((AsC, AsH))
2600    ((AsC, AsD))
Length: 1326, dtype: object

In [26]:
def creer_groupes_egaux(donnees: pd.DataFrame, taille_groupe: int):
    donnees.columns = donnees.columns + 1
    nombre_cartes = len(donnees.columns)
    donnees["groupe1"] = donnees.loc[:, 1:taille_groupe].apply(frozenset, axis=1)
    donnees["groupe2"] = donnees.loc[:, taille_groupe + 1:nombre_cartes].apply(frozenset, axis=1)
    donnees.drop(columns=range(1, nombre_cartes + 1), inplace=True)
    donnees.drop_duplicates(inplace=True)
    nouveaux_groupes = donnees.apply(frozenset, axis=1)
    nouveaux_groupes.drop_duplicates(inplace=True)
    return nouveaux_groupes.reset_index(drop=True)

In [27]:
tableau_2_cartes = pd.DataFrame(itertools.combinations(jeu, 2))
mains_differentes = creer_groupes_egaux(tableau_2_cartes, taille_groupe=1)
mains_differentes

0         ((2H), (2S))
1         ((2S), (2D))
2         ((2S), (2C))
3         ((2S), (3S))
4         ((2S), (3H))
             ...
1321    ((AsS), (AsD))
1322    ((AsS), (AsC))
1323    ((AsH), (AsD))
1324    ((AsH), (AsC))
1325    ((AsD), (AsC))
Length: 1326, dtype: object

In [28]:
cartes_valeur_dix = ["10", "Valet", "Dame", "Roi"]

def verifier_blackjack(une_main):
    valeurs = [next(iter(groupe))[:-1] for groupe in une_main]
    has_as = "As" in valeurs
    has_dix = any(val in cartes_valeur_dix for val in valeurs)
    
    return has_as and has_dix

In [29]:
mains_bj = mains_differentes[mains_differentes.apply(verifier_blackjack)]
proba_bj = len(mains_bj) / len(mains_differentes)
print("Probabilité :", proba_bj)

Probabilité : 0.048265460030165915

### b) Si les deux premieres cartes distribuées sont une dame et un 5. Quelle est la probabilité qu’il perde aussitôt s’il demande une 3e carte ?

In [30]:
jeu_de50 = jeu.copy()
jeu_de50.remove("DameS")
jeu_de50.remove("5S")

In [31]:
tableau_c_perte = pd.DataFrame(jeu_de50, columns=[0])
tableau_c_perte.columns = tableau_c_perte.columns + 1
tableau_c_perte

         1
0       2S
1       2H
2       2D
3       2C
4       3S
5       3H
6       3D
7       3C
8       4S
9       4H
10      4D
11      4C
12      5H
13      5D
14      5C
15      6S
16      6H
17      6D
18      6C
19      7S
20      7H
21      7D
22      7C
23      8S
24      8H
25      8D
26      8C
27      9S
28      9H
29      9D
30      9C
31     10S
32     10H
33     10D
34     10C
35  ValetS
36  ValetH
37  ValetD
38  ValetC
39   DameH
40   DameD
41   DameC
42    RoiS
43    RoiH
44    RoiD
45    RoiC
46     AsS
47     AsH
48     AsD
49     AsC

In [32]:
def verifier_si_perdu(une_carte):
    valeur_carte = une_carte[:-1]
    
    if valeur_carte in ["Valet", "Dame", "Roi"]:
        valeur_n = 10
    elif valeur_carte == "As":
        valeur_n = 1
    else:
        valeur_n = int(valeur_carte)
    total_actuel = 15
    nouveau_total = total_actuel + valeur_n
    return nouveau_total > 21

In [33]:
cartes_qui_font_perdre = tableau_c_perte[tableau_c_perte[1].apply(verifier_si_perdu)]
cartes_qui_font_perdre

         1
19      7S
20      7H
21      7D
22      7C
23      8S
24      8H
25      8D
26      8C
27      9S
28      9H
29      9D
30      9C
31     10S
32     10H
33     10D
34     10C
35  ValetS
36  ValetH
37  ValetD
38  ValetC
39   DameH
40   DameD
41   DameC
42    RoiS
43    RoiH
44    RoiD
45    RoiC

In [34]:
probabilite_perte = len(cartes_qui_font_perdre) / len(tableau_c_perte)
print("Probabilité :", probabilite_perte)

Probabilité : 0.54