# Exemple de résolution du TP 1

## Problème

2. Si l’on considère un groupe de 4 personnes, combien y a-t-il de façon de les répartir
dans 2 équipes de 2 ?

### Produire une solution de 3 manières différentes :

1. De manière analytique (en utilisant des formules mathématiques).

1. En utilisant une méthode de force brute (en énumérant toutes les combinaisons possibles de manière séquentielle).

1. En utilisant une méthode probabiliste (en simulant un grand nombre de combinaisons de 4 lancers de dé de manière aléatoire).

### Hint

La bibliothèque standard de Python inclus un module très utile pour le dénombrement : [`itertools`](https://docs.python.org/fr/3/library/itertools.html)

En particulier les itérateurs combinatoires :

* `product()` : produit cartésien, équivalent à une boucle for imbriquée
* `permutations()`
* `combinations()`
* `combinations_with_replacement()`

## Code
### Import et configuration

In [3]:
import itertools

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.special import comb, factorial as fac

In [6]:
%config InlineBackend.figure_format="retina"  # For high DPI display

sns.set_style("darkgrid")
sns.set_context("notebook")

### Helper functions

In [7]:
def print_pct(p, prec=1):
    print(f"{p:.{prec}%}")

### Solution 1 (analytique)

$$\frac{\displaystyle\binom{N}{n}}{2!}$$

In [8]:
N = 4
n = 2

comb(N, n) / fac(2)

np.float64(3.0)

### Solution 2 (force brute)

#### Définition des dès

In [9]:
PEOPLE = list("ABCD")
PEOPLE

['A', 'B', 'C', 'D']

In [10]:
people_df = pd.DataFrame(itertools.permutations(PEOPLE, 4))
people_df.columns = people_df.columns + 1
# df.columns = [f"p{i}" for i in df.columns + 1]
people_df

    1  2  3  4
0   A  B  C  D
1   A  B  D  C
2   A  C  B  D
3   A  C  D  B
4   A  D  B  C
5   A  D  C  B
6   B  A  C  D
7   B  A  D  C
8   B  C  A  D
9   B  C  D  A
10  B  D  A  C
11  B  D  C  A
12  C  A  B  D
13  C  A  D  B
14  C  B  A  D
15  C  B  D  A
16  C  D  A  B
17  C  D  B  A
18  D  A  B  C
19  D  A  C  B
20  D  B  A  C
21  D  B  C  A
22  D  C  A  B
23  D  C  B  A

In [11]:
people_df["g1"] = people_df.loc[:, 1:2].apply(frozenset, axis=1)
people_df["g2"] = people_df.loc[:, 3:4].apply(frozenset, axis=1)
people_df.drop(columns=range(1, 5), inplace=True)
people_df

        g1      g2
0   (B, A)  (D, C)
1   (B, A)  (D, C)
2   (C, A)  (D, B)
3   (C, A)  (D, B)
4   (D, A)  (C, B)
5   (D, A)  (B, C)
6   (B, A)  (D, C)
7   (B, A)  (D, C)
8   (C, B)  (D, A)
9   (C, B)  (D, A)
10  (D, B)  (C, A)
11  (D, B)  (C, A)
12  (C, A)  (D, B)
13  (C, A)  (D, B)
14  (B, C)  (D, A)
15  (B, C)  (D, A)
16  (D, C)  (B, A)
17  (D, C)  (B, A)
18  (D, A)  (C, B)
19  (D, A)  (B, C)
20  (D, B)  (C, A)
21  (D, B)  (C, A)
22  (D, C)  (B, A)
23  (D, C)  (B, A)

In [12]:
people_df.drop_duplicates(inplace=True)
people_df

        g1      g2
0   (B, A)  (D, C)
2   (C, A)  (D, B)
4   (D, A)  (C, B)
8   (C, B)  (D, A)
10  (D, B)  (C, A)
16  (D, C)  (B, A)

In [13]:
groups = people_df.apply(frozenset, axis=1)
groups

0     ((D, C), (B, A))
2     ((D, B), (C, A))
4     ((C, B), (D, A))
8     ((C, B), (D, A))
10    ((D, B), (C, A))
16    ((D, C), (B, A))
dtype: object

In [14]:
groups.drop_duplicates(inplace=True)
groups

0    ((D, C), (B, A))
2    ((D, B), (C, A))
4    ((C, B), (D, A))
dtype: object

In [15]:
def make_equal_groups(df: pd.DataFrame, group_n: int):
    df.columns = df.columns + 1
    people_n = len(df.columns)
    df["g1"] = df.loc[:, 1:group_n].apply(frozenset, axis=1)
    df["g2"] = df.loc[:, group_n + 1:people_n].apply(frozenset, axis=1)
    df.drop(columns=range(1, people_n + 1), inplace=True)
    df.drop_duplicates(inplace=True)
    groups = df.apply(frozenset, axis=1)
    groups.drop_duplicates(inplace=True)
    return groups.reset_index(drop=True)

In [16]:
ppl_df = pd.DataFrame(itertools.permutations(PEOPLE, 4))

make_equal_groups(ppl_df, group_n=2)

0    ((D, C), (B, A))
1    ((D, B), (C, A))
2    ((C, B), (D, A))
dtype: object

---

### Solution 3 (probabiliste)

La bibliothèque open source NumPy est destinée à manipuler des matrices ou tableaux multidimensionnels.
Elle propose également de nombreuses fonctions mathématiques et notemment des outils pour générer et manipuler des variables aléatoires.

Les versions récentes de NumPy favorise l'utilisation du générateur aléatoire par défaut comme expliqué dans le lien ci-dessous :

https://numpy.org/doc/stable/reference/random/generator.html

TLDR : 
```python
rng = np.random.default_rng(seed)
rng.integers()
# ou
rng.random()
# ou
rng.permutation()
# ...
```

In [17]:
SEED = 1234  # Pour la reproductibilité des résultats (valeur arbitraire)

RNG = np.random.default_rng(SEED)

In [18]:
def rdm_permutation(rng, people):
    return rng.permutation(people).tolist()

In [19]:
rdm_permutation(RNG, PEOPLE)

['A', 'D', 'B', 'C']

In [20]:
def rdm_perm_sim(rng, people, perm_n):
    return [rdm_permutation(rng, people) for _ in range(perm_n)]

In [21]:
SIM_N = 100
groups_sim_df = pd.DataFrame(rdm_perm_sim(RNG, PEOPLE, SIM_N))
groups_sim_df

    0  1  2  3
0   B  C  D  A
1   B  D  A  C
2   A  B  D  C
3   B  D  A  C
4   B  A  C  D
.. .. .. .. ..
95  A  C  D  B
96  D  C  A  B
97  B  A  D  C
98  A  C  B  D
99  D  B  A  C

[100 rows x 4 columns]

In [22]:
make_equal_groups(groups_sim_df, group_n=2)

0    ((C, B), (D, A))
1    ((D, B), (C, A))
2    ((D, C), (B, A))
dtype: object

### (Optionnel) Visualisation de la distribution

Distribution des sommes des lancers des 4 dés

In [23]:
# sns.histplot(rolls_sim_df, x="sums", discrete=True, stat="probability")
# plt.show()

TD 1 Analytique

In [24]:
N = 50
n= 3
somme = 1

for i in range (n) :
    #question b
    somme = somme *(N-i)
print(somme,"combinaisons possibles pour 3 roles différents 50 pers")
#/** question a **/
somme/=fac(n)
print(somme,"combinaisons possibles")

117600 combinaisons possibles pour 3 roles différents 50 pers
19600.0 combinaisons possibles

$$\frac{\displaystyle\binom{N}{n}}{2!}$$

Solution 1 (analytique) de la 6) a

In [25]:
import math

Nombre_de_cartes = 52
cartes_distribués = 2
nombre_as = 4
nombre_val10 = 16
combinaisons = math.comb(Nombre_de_cartes, cartes_distribués)
combi_de21 = nombre_as * nombre_val10
print(combi_de21 / combinaisons)

0.048265460030165915

---

Solution 1 (analytique) de la 6) b

In [26]:
#Valeur = 15 on cherche la probabilité que la prochaine carte fait perdre le joueur
cartes_restantes=50
nmbr_prochaines_cartesperd=27
tirage=1
chance_perte=27/50
print(chance_perte)

0.54

Solution 3 manière probabiliste 6.a)

In [39]:
import numpy as np
import pandas as pd

SIM_N = 100
RNG = np.random.default_rng()


results = []
blackjack_count = 0
#Choix et stockage des cartes
for i in range(SIM_N):
    carte1 = RNG.choice([11] * 4 + [10] * 16 + list(range(2, 10)) * 4)
    carte2 = RNG.choice([11] * 4 + [10] * 16 + list(range(2, 10)) * 4)
    while carte1 == carte2:
        carte2 = RNG.choice([11] * 4 + [10] * 16 + list(range(2, 10)) * 4)

    somme = carte1 + carte2
    is_blackjack = (somme == 21)

    if is_blackjack:
        blackjack_count += 1

    # Stocker les résultats
    results.append({
        'Simulation': i + 1,
        'Carte 1': carte1,
        'Carte 2': carte2,
        'Somme': somme,
        'Blackjack': 'Oui' if is_blackjack else 'Non'
    })

# Création de tableau
results_df = pd.DataFrame(results)

# Résultats finaux
print("═" * 60)
print(f"RÉSULTATS DES {SIM_N} SIMULATIONS")
print("═" * 60)
print(f"Nombre total de blackjacks: {blackjack_count}")
print(f"Probabilité simulée: {blackjack_count/SIM_N:.4f} ({blackjack_count/SIM_N*100:.2f}%)")
print("═" * 60)

blackjacks_df = results_df[results_df['Blackjack'] == 'Oui']
if not blackjacks_df.empty:
    print(f"\nDétail des {len(blackjacks_df)} blackjacks obtenus:")
    print("─" * 40)
    print(blackjacks_df[['Simulation', 'Carte 1', 'Carte 2', 'Somme']].to_string(index=False))
else:
    print("\nAucun blackjack obtenu dans cette simulation.")

# Statistiques supplémentaires
print(f"\nSTATISTIQUES:")
print("─" * 20)
print(f"Total simulations: {SIM_N}")
print(f"Blackjacks: {blackjack_count}")
print(f"Non-blackjacks: {SIM_N - blackjack_count}")
print(f"Pourcentage de blackjacks: {blackjack_count/SIM_N*100:.2f}%")


print(f"\nRÉPARTITION DE Victoires:")
sum_stats = results_df['Somme'].value_counts().sort_index()
for somme, count in sum_stats.items():
    if somme == 21 :
        print("Resultats favorables: ",count,"victoires")

════════════════════════════════════════════════════════════
RÉSULTATS DES 10000 SIMULATIONS
════════════════════════════════════════════════════════════
Nombre total de blackjacks: 648
Probabilité simulée: 0.0648 (6.48%)
════════════════════════════════════════════════════════════

Détail des 648 blackjacks obtenus:
────────────────────────────────────────
 Simulation  Carte 1  Carte 2  Somme
          8       10       11     21
         22       10       11     21
         74       11       10     21
        149       10       11     21
        163       11       10     21
        195       11       10     21
        197       10       11     21
        246       11       10     21
        274       11       10     21
        330       11       10     21
        356       10       11     21
        357       10       11     21
        387       11       10     21
        402       11       10     21
        489       10       11     21
        502       11       10     21
        515       11       10     21
        523       11       10     21
        554       10       11     21
        588       10       11     21
        604       11       10     21
        621       11       10     21
        634       10       11     21
        639       11       10     21
        650       11       10     21
        739       10       11     21
        827       11       10     21
        839       10       11     21
        847       10       11     21
        858       10       11     21
        871       10       11     21
        900       10       11     21
        901       10       11     21
        904       11       10     21
        907       11       10     21
        913       11       10     21
        914       10       11     21
        967       10       11     21
        978       10       11     21
        980       10       11     21
        999       10       11     21
       1014       10       11     21
       1015       10       11     21
       1016       11       10     21
       1117       11       10     21
       1162       11       10     21
       1172       11       10     21
       1187       11       10     21
       1197       10       11     21
       1213       10       11     21
       1248       10       11     21
       1263       10       11     21
       1267       10       11     21
       1289       10       11     21
       1296       11       10     21
       1338       11       10     21
       1353       10       11     21
       1367       11       10     21
       1408       11       10     21
       1409       11       10     21
       1414       10       11     21
       1418       11       10     21
       1465       10       11     21
       1480       11       10     21
       1488       11       10     21
       1493       10       11     21
       1537       11       10     21
       1545       11       10     21
       1562       11       10     21
       1563       11       10     21
       1572       10       11     21
       1577       11       10     21
       1586       10       11     21
       1591       11       10     21
       1592       11       10     21
       1613       10       11     21
       1618       10       11     21
       1620       10       11     21
       1636       11       10     21
       1643       10       11     21
       1649       10       11     21
       1650       11       10     21
       1667       10       11     21
       1682       10       11     21
       1690       10       11     21
       1708       11       10     21
       1721       10       11     21
       1727       11       10     21
       1767       11       10     21
       1775       10       11     21
       1777       10       11     21
       1807       11       10     21
       1832       10       11     21
       1860       11       10     21
       1864       10       11     21
       1894       11       10     21
       1895       10       11     21
       1901       10       11     21
       1967       10       11     21
       1996       11       10     21
       2001       11       10     21
       2025       11       10     21
       2058       10       11     21
       2061       11       10     21
       2085       10       11     21
       2095       11       10     21
       2109       11       10     21
       2120       11       10     21
       2125       10       11     21
       2133       10       11     21
       2146       10       11     21
       2163       11       10     21
       2173       10       11     21
       2207       11       10     21
       2218       10       11     21
       2228       10       11     21
       2236       11       10     21
       2243       11       10     21
       2284       11       10     21
       2336       11       10     21
       2347       10       11     21
       2371       11       10     21
       2378       10       11     21
       2386       11       10     21
       2389       10       11     21
       2393       10       11     21
       2403       11       10     21
       2407       11       10     21
       2446       10       11     21
       2466       11       10     21
       2485       11       10     21
       2506       11       10     21
       2510       10       11     21
       2515       10       11     21
       2548       11       10     21
       2554       11       10     21
       2584       10       11     21
       2587       11       10     21
       2595       10       11     21
       2618       11       10     21
       2629       11       10     21
       2659       11       10     21
       2664       10       11     21
       2677       10       11     21
       2682       11       10     21
       2683       11       10     21
       2684       11       10     21
       2721       10       11     21
       2739       10       11     21
       2760       11       10     21
       2767       10       11     21
       2800       11       10     21
       2808       10       11     21
       2823       10       11     21
       2835       10       11     21
       2920       10       11     21
       2934       11       10     21
       2952       10       11     21
       2979       11       10     21
       2998       11       10     21
       3015       10       11     21
       3020       10       11     21
       3066       11       10     21
       3092       11       10     21
       3099       11       10     21
       3105       11       10     21
       3126       10       11     21
       3154       11       10     21
       3162       11       10     21
       3168       11       10     21
       3176       10       11     21
       3237       10       11     21
       3257       10       11     21
       3278       10       11     21
       3319       10       11     21
       3323       10       11     21
       3329       11       10     21
       3339       10       11     21
       3389       11       10     21
       3396       10       11     21
       3401       11       10     21
       3410       11       10     21
       3417       10       11     21
       3430       10       11     21
       3434       10       11     21
       3439       10       11     21
       3442       11       10     21
       3465       11       10     21
       3468       10       11     21
       3478       11       10     21
       3484       11       10     21
       3487       10       11     21
       3493       10       11     21
       3503       10       11     21
       3540       10       11     21
       3553       11       10     21
       3556       10       11     21
       3563       10       11     21
       3578       11       10     21
       3589       11       10     21
       3613       11       10     21
       3626       10       11     21
       3632       10       11     21
       3674       10       11     21
       3690       11       10     21
       3711       10       11     21
       3719       10       11     21
       3723       10       11     21
       3731       11       10     21
       3738       10       11     21
       3758       10       11     21
       3802       10       11     21
       3822       10       11     21
       3827       11       10     21
       3838       11       10     21
       3853       10       11     21
       3855       10       11     21
       3857       11       10     21
       3858       10       11     21
       3900       10       11     21
       3919       11       10     21
       3933       11       10     21
       3949       11       10     21
       3971       10       11     21
       3987       10       11     21
       3994       10       11     21
       4009       10       11     21
       4022       11       10     21
       4033       11       10     21
       4057       11       10     21
       4058       10       11     21
       4069       11       10     21
       4098       10       11     21
       4102       10       11     21
       4103       10       11     21
       4138       10       11     21
       4141       11       10     21
       4185       10       11     21
       4194       10       11     21
       4210       11       10     21
       4218       10       11     21
       4224       11       10     21
       4226       11       10     21
       4243       10       11     21
       4264       10       11     21
       4267       11       10     21
       4287       10       11     21
       4310       10       11     21
       4331       11       10     21
       4349       10       11     21
       4351       11       10     21
       4374       11       10     21
       4387       11       10     21
       4391       10       11     21
       4411       10       11     21
       4422       11       10     21
       4424       10       11     21
       4436       10       11     21
       4437       11       10     21
       4441       11       10     21
       4442       10       11     21
       4452       10       11     21
       4461       10       11     21
       4465       10       11     21
       4478       11       10     21
       4504       11       10     21
       4515       11       10     21
       4545       10       11     21
       4553       11       10     21
       4565       11       10     21
       4574       10       11     21
       4598       11       10     21
       4619       11       10     21
       4628       11       10     21
       4634       10       11     21
       4647       11       10     21
       4649       10       11     21
       4657       11       10     21
       4662       11       10     21
       4667       11       10     21
       4699       11       10     21
       4701       10       11     21
       4746       11       10     21
       4749       11       10     21
       4756       11       10     21
       4770       11       10     21
       4771       10       11     21
       4782       10       11     21
       4801       11       10     21
       4806       10       11     21
       4813       11       10     21
       4846       10       11     21
       4854       10       11     21
       4864       11       10     21
       4868       11       10     21
       4902       11       10     21
       4924       11       10     21
       4948       11       10     21
       4988       10       11     21
       4999       11       10     21
       5002       11       10     21
       5009       10       11     21
       5035       10       11     21
       5036       11       10     21
       5047       10       11     21
       5079       10       11     21
       5081       11       10     21
       5090       10       11     21
       5101       10       11     21
       5127       11       10     21
       5138       10       11     21
       5145       11       10     21
       5169       10       11     21
       5170       10       11     21
       5174       11       10     21
       5175       10       11     21
       5179       10       11     21
       5220       11       10     21
       5234       10       11     21
       5240       10       11     21
       5244       10       11     21
       5269       11       10     21
       5318       10       11     21
       5326       11       10     21
       5336       10       11     21
       5370       10       11     21
       5373       10       11     21
       5381       11       10     21
       5390       11       10     21
       5393       11       10     21
       5407       10       11     21
       5438       10       11     21
       5445       11       10     21
       5456       11       10     21
       5484       10       11     21
       5497       11       10     21
       5504       10       11     21
       5510       10       11     21
       5514       10       11     21
       5526       11       10     21
       5552       11       10     21
       5580       10       11     21
       5584       10       11     21
       5598       11       10     21
       5602       11       10     21
       5605       10       11     21
       5606       10       11     21
       5614       10       11     21
       5621       11       10     21
       5623       10       11     21
       5641       10       11     21
       5655       11       10     21
       5668       11       10     21
       5690       10       11     21
       5698       11       10     21
       5710       10       11     21
       5712       11       10     21
       5737       10       11     21
       5742       10       11     21
       5743       10       11     21
       5773       11       10     21
       5777       11       10     21
       5778       11       10     21
       5789       10       11     21
       5805       10       11     21
       5824       11       10     21
       5828       10       11     21
       5835       10       11     21
       5839       10       11     21
       5840       10       11     21
       5895       11       10     21
       5902       10       11     21
       5905       11       10     21
       5912       11       10     21
       5956       10       11     21
       5965       10       11     21
       5975       11       10     21
       6059       10       11     21
       6063       10       11     21
       6069       10       11     21
       6077       11       10     21
       6099       11       10     21
       6104       10       11     21
       6118       11       10     21
       6119       10       11     21
       6140       10       11     21
       6153       10       11     21
       6166       10       11     21
       6188       10       11     21
       6192       11       10     21
       6211       10       11     21
       6223       10       11     21
       6226       11       10     21
       6252       11       10     21
       6262       10       11     21
       6265       11       10     21
       6269       10       11     21
       6278       10       11     21
       6297       10       11     21
       6312       11       10     21
       6325       11       10     21
       6331       10       11     21
       6334       10       11     21
       6340       11       10     21
       6342       10       11     21
       6345       11       10     21
       6355       10       11     21
       6356       11       10     21
       6357       11       10     21
       6380       10       11     21
       6381       11       10     21
       6385       11       10     21
       6388       11       10     21
       6394       10       11     21
       6419       11       10     21
       6427       10       11     21
       6432       10       11     21
       6462       10       11     21
       6465       11       10     21
       6470       11       10     21
       6487       11       10     21
       6519       10       11     21
       6529       10       11     21
       6535       11       10     21
       6541       10       11     21
       6564       11       10     21
       6577       11       10     21
       6676       11       10     21
       6685       10       11     21
       6692       11       10     21
       6717       10       11     21
       6733       10       11     21
       6738       10       11     21
       6761       10       11     21
       6806       10       11     21
       6824       11       10     21
       6834       11       10     21
       6845       10       11     21
       6848       11       10     21
       6875       11       10     21
       6882       11       10     21
       6921       10       11     21
       6931       11       10     21
       6935       11       10     21
       6950       11       10     21
       6964       10       11     21
       6971       10       11     21
       6984       11       10     21
       6990       11       10     21
       6997       10       11     21
       7028       11       10     21
       7046       11       10     21
       7072       11       10     21
       7076       10       11     21
       7085       11       10     21
       7094       10       11     21
       7105       10       11     21
       7120       11       10     21
       7218       10       11     21
       7258       11       10     21
       7272       10       11     21
       7276       10       11     21
       7277       10       11     21
       7284       11       10     21
       7300       10       11     21
       7306       10       11     21
       7336       10       11     21
       7338       11       10     21
       7341       10       11     21
       7359       11       10     21
       7378       11       10     21
       7382       11       10     21
       7393       10       11     21
       7411       10       11     21
       7430       11       10     21
       7432       10       11     21
       7451       11       10     21
       7454       10       11     21
       7508       11       10     21
       7530       11       10     21
       7540       10       11     21
       7542       10       11     21
       7547       10       11     21
       7550       10       11     21
       7589       10       11     21
       7613       10       11     21
       7632       10       11     21
       7640       10       11     21
       7658       10       11     21
       7694       10       11     21
       7700       10       11     21
       7703       11       10     21
       7747       10       11     21
       7764       10       11     21
       7772       10       11     21
       7777       11       10     21
       7797       10       11     21
       7798       10       11     21
       7836       11       10     21
       7864       11       10     21
       7876       10       11     21
       7885       11       10     21
       7906       10       11     21
       7910       10       11     21
       7924       11       10     21
       7963       10       11     21
       7988       10       11     21
       7990       11       10     21
       7993       10       11     21
       8007       10       11     21
       8023       11       10     21
       8030       10       11     21
       8036       10       11     21
       8057       10       11     21
       8069       11       10     21
       8092       11       10     21
       8107       10       11     21
       8139       10       11     21
       8143       11       10     21
       8148       11       10     21
       8149       11       10     21
       8167       11       10     21
       8173       10       11     21
       8176       11       10     21
       8180       11       10     21
       8197       11       10     21
       8225       10       11     21
       8240       11       10     21
       8249       10       11     21